@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

/* COLORS */

:root {
  /* Primary */

  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* Neutral */

  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 1440px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
  background-color: var(--light-grayish-magenta);
  color: var(--white);
}

/* MAIN */

.first-part {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.start-text {
  color: var(--very-dark-magenta);
  margin-bottom: 3rem;
}
.start-text h1 {
  width: 60%;
  font-size: 70px;
  margin-bottom: 3rem;
}
.start-text p {
  width: 40%;
}
.stars {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.star {
  display: flex;
  align-items: center;
  background-color: var(--dark-grayish-magenta);
  border-radius: 0.5rem;
  padding: 1rem;
}
.star-1 {
  align-self: flex-start;
}
.star-2 {
  align-self: center;
}
.star-3 {
  align-self: flex-end;
}
.star img {
  width: 20px;
  height: 20px;
}
.star p {
  margin-left: 5px;
  color: var(--very-dark-magenta);
}
.cards {
  width: 1200px;
  height: 250px;
  display: flex;
  gap: 2rem;
}
.cards img {
  border-radius: 50%;
  width: 40px;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: var(--very-dark-magenta);
  height: 200px;
  border-radius: 0.5rem;
  padding: 2rem;
}
.card > div {
  display: flex;
  margin-bottom: 1rem;
}
.card h4,
h3 {
  margin-left: 1rem;
}
.card h3 {
  color: var(--soft-pink);
}
.card-2 {
  align-self: center;
}
.card-3 {
  align-self: flex-end;
}
@media screen and (max-width: 375px) {
  body {
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
  }
  .first-part {
    width: 100%;
    display: block;
  }
  .start-text h1 {
    padding-top: 2rem;
    font-size: 24px;
    text-align: center;
    width: 100%;
  }
  .start-text p {
    text-align: center;
    width: 100%;
  }
  .stars {
    width: 100%;
    display: block;
  }
  .star {
    margin-bottom: 1rem;
  }
  .cards {
    width: 100%;
    display: block;
  }
  .card {
    margin-bottom: 1rem;
  }
}
